


@mixin absize{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

@mixin desktop { @media screen and (min-width: 75em) {@content;} } // 1200px
@mixin laptop { @media screen and (min-width: 62em) {@content;} } // 992px
@mixin tablet { @media screen and (min-width: 48em) {@content;} } // 768px
@mixin phone { @media screen and (min-width: 30em) {@content;} } // 480px

@function getImg($img_name_and_extension:"default argument"){
  @return ($path_to_img + $img_name_and_extension);
}