

@mixin cf {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin absize($t:0){
  position: absolute;
  top:$t;left:$t;right:$t;bottom:$t;
}

//////// centering ///////
@mixin aVC{
  top:50%;
  transform: translateY(-50%);
}
@mixin aC{
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@mixin aHC{
  left: 50%;
  transform: translateX(-50%);
}

/////// mediaqueries mixins ///////
@mixin desktop { @media screen and (min-width: 75em) {@content;} } // 1200px
@mixin laptop { @media screen and (min-width: 62em) {@content;} } // 992px
@mixin tablet { @media screen and (min-width: 48em) {@content;} } // 768px
@mixin phone { @media screen and (min-width: 30em) {@content;} } // 480px


// desktop first mixins
// @mixin to479{@media (max-width: 29.938em){@content;}}
// @mixin from480to767{@media (min-width:30em) and (max-width: 47.938em){@content;}}
// @mixin from768to991{@media (min-width:48em) and (max-width: 61.938em){@content;}}
// @mixin from992to1199{@media (min-width:62em) and (max-width: 74.938em){@content;}}


@function getImg($img_name_and_extension:"default argument"){
  @return ($path_to_img + $img_name_and_extension);
}
