$ss-fonts: Arial, Tahoma, sans-serif;
// $s-fonts: 
$ssf : $ss-fonts;

$thin:         100;
$light:        300;
$regular:      400;
$medium:       500;
$bold:         700;
$extra_bold:   900;

// fonts and other goes here... 

$frs-book:        'firasans-book', $ssf;
$frs-regular:     'firasans-regular', $ssf;
$frs-medium:      'firasans-medium', $ssf;
$frs-light:       'firasans-light ', $ssf;
$frs-lightitalic: 'firasans-lightitalic', $ssf;
$pnc-semibold:    'proximanovacond-semibold', $ssf;





$white: #fff;
