$ss-fonts: Arial, Tahoma, sans-serif;
// $s-fonts: 
$ssf : $ss-fonts;

$thin:         100;
$light:        300;
$regular:      400;
$medium:       500;
$bold:         700;
$extra_bold:   900;

// fonts and other goes here... 


$path_to_img: '../img/rasterImages/';


$white: #fff;
