$ss-fonts: Arial, Tahoma, sans-serif;
// $s-fonts: 
$ssf : $ss-fonts;

$thin:         100;
$light:        300;
$regular:      400;
$medium:       500;
$bold:         700;
$extra_bold:   900;

// fonts and other goes here... 


$transition-duration: 0.25s ease;

$path_to_img: '../img/rasterImages/';


////// colors //////
$white:                 #fff;
$black:                 #000;
$c-1d:                  #1d1d1d;
$c-d9:                  #d9d9d9;
$c-5a:                  #5a5a5a;
$c-17:                  #171717;
$c-af:                  #afafaf;
$c-b6:                  #b6b6b6;
$c-20:                  #202020;