{% set title = "SuperMegaTitle" %}
{% extends "html_components/base-structure.njk" %}
{% from "html_components/svgtmplt.njk" import svg %}


{% block content %}
  {# тут пишется контент #}
  
{% endblock %}